<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx
	 	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/mvc    
     	http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
     	http://www.springframework.org/schema/task
     	http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!-- 定时器 -->
	<task:annotation-driven/>
	
	
	<context:component-scan base-package="action" />
	<context:component-scan base-package="service" />
	<context:component-scan base-package="timing" />
	<context:component-scan base-package="mapper" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jspFile/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<mvc:annotation-driven>  
    <!-- 解决@ResponseBody中文乱码 -->  
        <mvc:message-converters>  
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
                <constructor-arg value="UTF-8" />  
            </bean>  
        </mvc:message-converters>  
    </mvc:annotation-driven>  
	
    <!-- 默认首页 --> 
	<mvc:view-controller path="/" view-name="forward:/welcome.do" /> 
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/school_oa_manager_system?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="school1718JiaGou" />
		<property name="password" value="chenxixin" />
	</bean>
	<!-- 事务 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 事务控制   -->  
	<tx:annotation-driven transaction-manager="txManager" /> 

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 自动扫描mapping.xml文件 -->
		<!-- 
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
		 -->
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	  <constructor-arg index="1" value="BATCH" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	
    
    
    <!-- 拦截器开始 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="interceptor.UserLogInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="interceptor.LogInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/manage/userManagerEdit.do" />
            <mvc:mapping path="/manage/userManager.do" />
            <mvc:mapping path="/manage/changeUserInfoAllFrom.do" />
            <bean class="interceptor.WebManagerInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>  
    <!-- 拦截器结束 -->
    
    <!-- 初始化器开始 -->
    <!-- 整个应用的 -->
    <bean id="initWebInit" class="init.WebInit"> 
	</bean>
	<!-- 初始化器结束 -->
	
	<!-- 文件上传下载配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="10000000" />
	</bean>
    
    
    <!-- 流程++++++++++++++++++++ -->
	<bean id="procedureDao" class="dao.ProcedureDao"></bean>
	<bean id="procedureService" class="service.ProcedureService">
		<property name="procedureDao" ref="procedureDao" />
		<property name="messageDao" ref="messageDao" />
	</bean>
    
    <!-- 用户类型++++++++++++++++++++ -->
	<bean id="userKindDao" class="dao.UserKindDao"></bean>
	<bean id="userKindService" class="service.UserKindService">
		<property name="userKindDao" ref="userKindDao" />
	</bean>
	
	<!-- 消息类型++++++++++++++++++++ -->
	<bean id="msgKindDao" class="dao.MsgKindDao"></bean>
	<bean id="msgKindService" class="service.MsgKindService">
		<property name="msgKindDao" ref="msgKindDao" />
	</bean>
	
	<!-- 消息列表++++++++++++++++++++ -->
	<bean id="messageDao" class="dao.MessageDao"></bean>
	<bean id="messageService" class="service.MessageService">
		<property name="messageDao" ref="messageDao" />
	</bean>
	
	<!-- 文件仓库++++++++++++++++++++ -->
	<bean id="fileDepotDao" class="dao.FileDepotDao"></bean>
	<bean id="fileDepotService" class="service.FileDepotService">
		<property name="fileDepotDao" ref="fileDepotDao" />
	</bean>
 
	<!-- ++++++++++++++++++++ -->
	<bean id="userInfoDao" class="dao.UserInfoDao"></bean>
	<bean id="userService" class="service.UserService">
		<property name="userInfoDao" ref="userInfoDao" />
	</bean>
	
	<!-- ++++++++++++++++++++ -->
	<bean id="remindDao" class="dao.RemindDao"></bean>
	<bean id="remindService" class="service.RemindService">
		<property name="remindDao" ref="remindDao" />
		<property name="procedureDao" ref="procedureDao" />
	</bean>
	
	<!-- ++++++++++++++++++++ -->
	<bean id="partDao" class="dao.PartDao"></bean>
	<bean id="partService" class="service.PartService">
		<property name="partDao" ref="partDao" />
	</bean>
	
	<!-- ++++++++++++++++++++ -->
	<bean id="groupDao" class="dao.GroupDao"></bean>
	<bean id="groupService" class="service.GroupService">
		<property name="groupDao" ref="groupDao" />
	</bean>

</beans>